* {
    margin: 0;
    padding: 0;
}

#background {
    background-image: url("background.jpg");
    background-size: cover;
    position:absolute;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    z-index: -2;
    transition: background-image 1s;
    transition-timing-function: ease-out;
}

#colour {
    background-color: rgba(77, 1, 1, 0.5);
    position: absolute;
    border-radius: 10%;
    /* top: 43%;
    right:45%;
    bottom: 43%;
    left:45%; */
    top: 30%;
    right:34%;
    bottom: 29.5%;
    left:34%;
    z-index: -1;
    transition: background-color 1s;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    height: 40%;
    background-color: rgba(240, 248, 255, 0);
}

#yt {
    order: 1;
    width: 30%;
    margin-right: 20%;
    background: none;
    border: none;
}

#yt:hover {
    animation: shake 0.5s infinite;
}

#yt:hover ~ #background {
    background-image: url("youtube.png");
}

#yt:hover~#colour {
    /* top: 30%;
    right:34%;
    bottom: 29.5%;
    left:34%; */
    /* animation: spread 1s ease; */
    animation: rainbow 20s infinite;
}

#fb {
    order: 2;
    width: 30%;
    margin-left: 20%;
    background: none;
    border: none;
}

#fb:hover {
    animation: bounce 0.5s infinite;
}

#fb:hover ~ #background {
    background-image: url("facebook.png");
}

#fb:hover~#colour {
    animation: rainbow 20s infinite;
}

#cn {
    order: 3;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    background: none;
    border: none;
}

#cn:hover {
    animation: spin 1s infinite;
}

#cn:hover ~ #background {
    background-image: url("codenation.png");
}

#cn:hover~#colour {
    animation: rainbow 20s infinite;
}

#tw {
    order: 4;
    width: 30%;
    margin-right: 20%;
    background: none;
    border: none;
}

#tw:hover {
    animation: fade 1s infinite;
}

#tw:hover ~ #background {
    background-image: url("twitter.png");
}

#tw:hover~#colour {
    animation: rainbow 20s infinite;
}

#ig {
    order: 5;
    width: 30%;
    margin-left: 20%;
    background: none;
    border: none;
}

#ig:hover {
    animation: grow 0.5s infinite;
}

#ig:hover ~ #background {
    background-image: url("instagram.png");
}

#ig:hover~#colour {
    animation: rainbow 20s infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* @keyframes spread {
    0% {
        transform: scaleX(120);
    }
    100% {
        transform: scaleX(0);
    }
} */

@keyframes rainbow{
    100%,0%{
        background-color: rgba(117, 0, 0, 0.5);
    }
    8%{
        background-color: rgba(106, 53, 1, 0.5);
    }
    16%{
        background-color: rgba(94, 94, 1, 0.5);
    }
    25%{
        background-color: rgba(50, 99, 0, 0.5);
    }
    33%{
        background-color: rgba(0, 96, 0, 0.5);
    }
    41%{
        background-color: rgba(0, 89, 45, 0.5);
    }
    50%{
        background-color: rgba(0, 90, 90, 0.5);
    }
    58%{
        background-color: rgba(0, 46, 91, 0.5);
    }
    66%{
        background-color: rgba(0, 0, 90, 0.5);
    }
    75%{
        background-color: rgba(44, 0, 87, 0.5);
    }
    83%{
        background-color: rgba(86, 0, 86, 0.5);
    }
    91%{
        background-color: rgba(79, 0, 40, 0.5);
    }
}